<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="container">
            <a href="#" class="logo-img text-center">
                <img src='../../assets/images/logo1.png' alt="Logo">
            </a>
            <p class="text-center">Système de gestion Intégré</p>
            <form>
                <label for="email">Username</label>
                <input type="email" class="form-control" id="username" required>
                <label for="email">Adresse email</label>
                <input type="email" class="form-control" id="email" required>
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" required>
                <button type="submit" class="btn-primary">S'enrergister</button>
            </form>
            <!-- <a href="#" class="text-primary">Créer un compte</a> -->
        </div>
    </div>
</body>
</html>
