<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Bienvenue sur le projet d'enregistrement de notes</h1>
        </div>
        <div class="right">
            <button class="btn"><a [routerLink]="[ '/login']">Se connecter</a></button>
            <button class="btn"><a [routerLink]="[ '/register']">S'enregistrer</a></button>
        </div>
    </div>
</body>
</html>
